.main {
display: inline-flex;
width: 50%;
margin: 5%;
justify-content: space-around;
align-content: center;
border: 2px solid rgb(2, 2, 148);
}


.word {
    display: inline-flex;
    min-height: 2em;
    min-width: 30%;
    color:aliceblue;
    background-color: rgb(138, 21, 233);
    font-size: larger;
    font-family:Impact, Haettenschweiler,'Arial Narrow Bold', sans-serif
    
}

.translation {
    display: inline-flex;
    min-height: 2em;
    min-width: 30%;
    background-color: rgb(199, 119, 242);
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topic {
    display: inline-flex;
    min-height: 2em;
    min-width: 30%;
    font-size: larger;
    background-color: rgb(246, 194, 241);
}

.swipe {
   display: flex;
   align-items: center;
   height: 8vh;
   color:aliceblue;
   background-color: rgb(33, 99, 135);
}